# Local paths for volume mounts
CONFIG_DIR=./configs
MODEL_DIR=./models
OUTPUT_DIR=./outputs
EXT_DIR=./extensions
WILDCARD_DIR=./wildcards
EMBEDDINGS_DIR=./embeddings
LOGS_DIR=./logs
CACHE_DIR=./cache
REPO_DIR=./repositories

# Hugging Face model cache
# HF_MODELS_PATH= /home/<username>/hf_models
