# Ignore local asset folders
repositories/
models/
outputs/
wildcards/
extensions/
config/
configs/
embeddings/
logs/
cache/

# Ignore local environment config
.env
config.json
styles.csv
ui-config.json
# Ignore Python and Docker artifacts
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
