# Ignore local asset folders
repositories/
models/
output/
wildcards/
extensions/
config/
configs/
embeddings/
logs/
cache/

# Ignore local environment config
.env

# Ignore Python and Docker artifacts
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
